@model Nop.Plugin.Payments.Bluefin.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="PaymentBluefin" asp-action="Configure" method="post">
    <div class="cards">
        <div class="card card-default">
            <div class="card-body">
                <blockquote>
                    <p>
                        <p> Once the merchant is integrated with Bluefin Payment Gateway, the Bluefin Integrations Team provides them with the recommended nopCommerce configuration according to their needs. </p>
                        
                        For more details on configuring the Bluefin plugin, make sure to be up-to-date with the 
                        <a href="https://developers.bluefin.com/payconex/v4/reference/creating-a-configuration" target="_blank" rel="noopener noreferrer">
                        Bluefin Checkout Component Documentation.
                        </a>
                    </p>
                </blockquote>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="ApiKeyId_OverrideForStore" asp-input="ApiKeyId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ApiKeyId" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="ApiKeyId" asp-required="true" />
                        <span asp-validation-for="ApiKeyId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="ApiKeySecret_OverrideForStore" asp-input="ApiKeySecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ApiKeySecret" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="ApiKeySecret" asp-required="true" html-attributes="@(new { value = Model.ApiKeySecret })" />
                        <span asp-validation-for="ApiKeySecret" class="text-danger"></span>
                    </div>
                </div>


                 <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="AccountId_OverrideForStore" asp-input="AccountId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccountId" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="AccountId" asp-required="true" />
                        <span asp-validation-for="AccountId" class="text-danger"></span>
                    </div>
                </div>               

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="IFrameConfigId_OverrideForStore" asp-input="IFrameConfigId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IFrameConfigId" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="IFrameConfigId" asp-required="true" />
                        <span asp-validation-for="IFrameConfigId" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox" class="text-danger"></span>
                    </div>
                </div>

               <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="Use3DS_OverrideForStore" asp-input="Use3DS" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Use3DS" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="Use3DS" />
                        <span asp-validation-for="Use3DS" class="text-danger"></span>
                    </div>
                </div>

               <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="UseAuthorizeOnly_OverrideForStore" asp-input="UseAuthorizeOnly" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseAuthorizeOnly" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="UseAuthorizeOnly" />
                        <span asp-validation-for="UseAuthorizeOnly" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="EnableLogging_OverrideForStore" asp-input="EnableLogging" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnableLogging" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="EnableLogging" />
                        <span asp-validation-for="EnableLogging" class="text-danger"></span>
                    </div>
                </div>

                <h3 class="form-group row">Iframe Settings</h3>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="IframeResponsive_OverrideForStore" asp-input="IframeResponsive" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IframeResponsive" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="IframeResponsive" />
                        <span asp-validation-for="IframeResponsive" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="IframeWidth_OverrideForStore" asp-input="IframeWidth" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IframeWidth" />
                    </div>
                    <div class="col-sm-6">
                        <nop-editor asp-for="IframeWidth" />
                        <span asp-validation-for="IframeWidth" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="IframeHeight_OverrideForStore" asp-input="IframeHeight" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IframeHeight" />
                    </div>
                    <div class="col-sm-6">
                        <nop-editor asp-for="IframeHeight" />
                        <span asp-validation-for="IframeHeight" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="IframeTimeout_OverrideForStore" asp-input="IframeTimeout" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IframeTimeout" />
                    </div>
                    <div class="col-sm-6">
                        <nop-editor asp-for="IframeTimeout" asp-required="true" />
                        <span asp-validation-for="IframeTimeout" class="text-danger"></span>
                    </div>
                </div>

                <h3 class="form-group row">Payment Methods</h3>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="EnableCard_OverrideForStore" asp-input="EnableCard" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnableCard" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="EnableCard" />
                        <span asp-validation-for="EnableCard" class="text-danger"></span>
                    </div>
                </div>

               
                @* <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="EnableACH_OverrideForStore" asp-input="EnableACH" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnableACH" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="EnableACH" />
                        <span asp-validation-for="EnableACH" class="text-danger"></span>
                    </div>
                </div> *@


                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="EnableGooglePay_OverrideForStore" asp-input="EnableGooglePay" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnableGooglePay" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="EnableGooglePay" />
                        <span asp-validation-for="EnableGooglePay" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="EnableClickToPay_OverrideForStore" asp-input="EnableClickToPay" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnableClickToPay" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="EnableClickToPay" />
                        <span asp-validation-for="EnableClickToPay" class="text-danger"></span>
                    </div>
                </div>

                <h3 class="form-group row">threeDSecureInitSettings</h3>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="ThreeDTransType_OverrideForStore" asp-input="ThreeDTransType" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ThreeDTransType" />
                    </div>
                    <div class="col-sm-7">
                        <nop-select asp-for="ThreeDTransType" asp-items="Model.ThreeDSecureTransactionTypes" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="DeliveryTimeFrame_OverrideForStore" asp-input="DeliveryTimeFrame" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="DeliveryTimeFrame" />
                    </div>
                    <div class="col-sm-7">
                        <nop-select asp-for="DeliveryTimeFrame" asp-items="Model.DeliveryTimeFrames" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="ThreeDSecureChallengeIndicator_OverrideForStore" asp-input="ThreeDSecureChallengeIndicator" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ThreeDSecureChallengeIndicator" />
                    </div>
                    <div class="col-sm-7">
                        <nop-select asp-for="ThreeDSecureChallengeIndicator" asp-items="Model.ThreeDSecureChallengeIndicators" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="ReorderIndicator_OverrideForStore" asp-input="ReorderIndicator" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ReorderIndicator" />
                    </div>
                    <div class="col-sm-7">
                        <nop-select asp-for="ReorderIndicator" asp-items="Model.ReorderIndicators" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <nop-override-store-checkbox asp-for="ShippingIndicator_OverrideForStore" asp-input="ShippingIndicator" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ShippingIndicator" />
                    </div>
                    <div class="col-sm-7">
                        <nop-select asp-for="ShippingIndicator" asp-items="Model.ShippingIndicators" />
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                        <button type="submit" name="save" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        function toggleIframeFields() {
            var isResponsive = $('#IframeResponsive').is(':checked');
            $('#IframeWidth, #IframeHeight').prop('disabled', isResponsive);
            
            if (isResponsive) {
                $('#IframeWidth, #IframeHeight').addClass('disabled');
            } else {
                $('#IframeWidth, #IframeHeight').removeClass('disabled');
            }
        }
        
        // Initial state
        toggleIframeFields();
        
        // Listen for changes
        $('#IframeResponsive').change(function() {
            toggleIframeFields();
        });
        
         /*
        // Form validation
        $('form').submit(function(e) {
            let isResponsive = $('#IframeResponsive').is(':checked');
            
            if (!isResponsive) {
                let width = $('#IframeWidth').val().trim();
                let height = $('#IframeHeight').val().trim();
                
                if (!width) {
                    alert('Please enter a width for the iframe when responsive mode is disabled.');
                    $('#IframeWidth').focus();
                    e.preventDefault();
                    return false;
                }
                
                if (!height) {
                    alert('Please enter a height for the iframe when responsive mode is disabled.');
                    $('#IframeHeight').focus();
                    e.preventDefault();
                    return false;
                }
            }

           
            // Validate that at least one payment method is selected
            let checked = $('#EnableCard').is(':checked') ||
                          $('#EnableACH').is(':checked') ||
                          $('#EnableGooglePay').is(':checked') ||
                          $('#EnableClickToPay').is(':checked');
            if (!checked) {
                alert('Please select at least one payment method.');
                e.preventDefault();
                return false;
            }
           

        });
         */

         
    });
</script>

<style>

</style>