@model OrderModel

@{
    // ViewBag.PageTitle = "Bluefin Reissue Orders";

    Layout = "_AdminLayout";
}

<form asp-controller="PaymentBluefin" asp-action="Edit" method="post" asp-route-id="@Model.Id">
    <div class="content-header clearfix">
        <h1>
            Order Details
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="ReissueOrders">Back to Bluefin Reissue Orders</a>
            </small>
        </h1>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">

                            <blockquote>
                                <p>
                                <p>
                                    To add products to the newly reissued order after applying the order amonts, go to Sales -> Orders with the reissued order id, click on View scroll down to Products and Add Products.
                                </p>
                                <br/>
                                <p>
                                    Please, make sure that the order amounts total matches the total of products added.
                                    The shipping and billing address is based on the previous/initial order.
                                </p>

                                For more details on configuring the Bluefin plugin, make sure to be up-to-date with the
                                <a href="https://developers.bluefin.com/payconex/v4/reference/creating-a-configuration"
                                    target="_blank" rel="noopener noreferrer">
                                    Bluefin Checkout Component Documentation.
                                </a>
                                </p>
                            </blockquote>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="Id" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.Id</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="OrderStatus" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.OrderStatus</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="OrderGuid" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.OrderGuid</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="PaymentStatus" />
                                </div>
                                <div class="col-md-9">
                                    @* <nop-editor asp-for="PaymentStatus" /> *@
                                    <div class="form-text-row">@Model.PaymentStatus</div>
                                </div>
                            </div>

                            @*
                            <div>
                                <input name="_AAA" id="_AAA" type="hidden" />
                            </div>
                            *@


                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                                    <button type="submit" name="reissueorder" id="reissueorder" class="btn btn-primary">
                                        Reissue Order
                                    </button>
                                    <text>&nbsp;</text>
                                    <nop-action-confirmation asp-button-id="reissueorder" />
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        ; $(document).ready(function () {


        });

    </script>

</form>