@model OrderModel

@{
    // ViewBag.PageTitle = "Bluefin Reissue Orders";

    Layout = "_AdminLayout";
}

<form asp-controller="PaymentBluefin" asp-action="Edit" method="post" asp-route-id="@Model.Id">
    <div class="content-header clearfix">
        <h1>
            Order Details
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="ReissueOrders">Back to Bluefin Reissue Orders</a>
            </small>
        </h1>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="Id" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.Id</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="OrderStatus" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.OrderStatus</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="OrderGuid" />
                                </div>
                                <div class="col-md-9">
                                    <div class="form-text-row">@Model.OrderGuid</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="PaymentStatus" />
                                </div>
                                <div class="col-md-9">
                                    @* <nop-editor asp-for="PaymentStatus" /> *@
                                    <div class="form-text-row">@Model.PaymentStatus</div>
                                </div>
                            </div>

                            <div>
                                <input name="_AAA" id="_AAA" type="hidden" />
                            </div>

                            <div>
                                @{
                                    var dataDict = new ViewDataDictionary(ViewData) { new KeyValuePair<string, object>("productId", 48) };
                                    // See: https://github.com/nopSolutions/nopCommerce/blob/release-4.80.9/src/Presentation/Nop.Web/Areas/Admin/Controllers/OrderController.cs#L1539
                                }
                                @* @await Html.PartialAsync("_ProductAddAttributes", Model.ProductAttributes, dataDict) *@
                                @await Html.PartialAsync("~/Plugins/Payments.Bluefin/Views/_ProductAddAttributes.cshtml", new List<AddProductToOrderModel.ProductAttributeModel>(), dataDict);
                            </div>


                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                                    <button type="submit" name="reissueorder" id="reissueorder" class="btn btn-primary">
                                        Reissue Order
                                    </button>
                                    <text>&nbsp;</text>
                                    <nop-action-confirmation asp-button-id="reissueorder" />
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        ;$(document).ready(function() {


        });

    </script>

</form>